* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html,
body {
  background-image: url("../images/718139.jpg");
  background-size: cover;
  font-family: sans-serif;
  height: 60%;
  margin: 0;
  padding: 0;
  background-color: rgb(147, 126, 231);
  min-height: 100vh;

}

.panel {
  min-height: 100vh;
  border: 4px solid rgb(226, 109, 109);
}

/*-------------------PANEL INTRO--------------------------------*/
body>div>section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

/*este codigo de aqui arriba me esta dando por saco
PREGUNTAR A STEFANO*/

h1 {
  font-size: 8rem;
  font-style: italic;
  background-image: linear-gradient(to right, red, violet, yellow, green, blue, white, black);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 1rem;
}

p {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-------------------------FINAL PANEL INTRO-----------------------------------*/

/*-----------------------boton------------------------------*/
button {
  width: 15rem;
  height: 5rem;
  font-size: 25px;
  font-weight: bold;
  margin-top: 35px;
}

button:hover {
  background-color: blueviolet;
  cursor: pointer;
  color: aliceblue;
}

/*--------------------FINAL boton--------------------------*/

.hidden {
  display: none;
}

.logo {
  height: 50px;
}

/*------------Modificando los li----------------------*/

/*centrar lista verticalmente*/
#colores {
  display: grid;
  grid-template-rows: repeat(1, minmax(1fr));
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-gap: 50px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*hacer li mas grandes*/
li {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  list-style: none;
}

/*header*/

body>#juego>header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;

}

.finjuego,
.escoger {
  background-image: linear-gradient(to right, red, violet, yellow, green, blue, white, black);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 6rem;
}

/*---------------estilo de los resultados--------------------------*/
span {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#color {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*----FOOTER-------- */
footer>p {
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  color: aliceblue;
}